.Main {
  text-align: center;
}

.Main-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main-name {
  display: flex;
  justify-content: center;
  font-size: medium;
  color: white;
  padding: 21px;
}

.Drawer-text {
  color: white;
  font-size: medium;
}

.Drawer-icon {
  color: white;
}
